html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  background:	#fff;
  min-height: 100vh;
  color: #659b5b;
}

button{
  overflow: hidden;
  background: #659b5b;
  margin: 0;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
}
button:hover{
 background: #777;
}
button.active {
  background:	#74C365;
}
button:focus {
  outline:0;
  outline-offset: -4px;
}
button:disabled{
  cursor: not-allowed;
  opacity: 0.65;
}

button + button {
  margin-left: 10px;
}

input[type="number"] {
  border: 1px solid #659b5b;
  padding: 10px;
}

.App{
}

.App-scorer{
  display: flex;
  min-height: 100vh;
}
.App-missingPlayers{
  display: flex;
  min-height: 100vh;
  background: #74C365;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-missingPlayers input {
  padding: 10px;
}
.App-missingPlayers > div {
  height: 240px;
  width: 305px;
  display: flex;
  flex-direction: column;
}
.App-missingPlayers form {
  margin-top: auto;
}
.App-missingPlayers ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.App-missingPlayers ul li{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #659b5b;
  color: #fff;
  font-weight: bold;
  border: 1px solid #659b5b;
  margin-bottom: 5px;
}
.App-missingPlayers ul li span{
  padding: 10px;
}
.App-missingPlayers ul li button{
  margin-left: auto;
  width: 36px;
  min-width: inherit;
}


.left-col, .right-col {
  flex: 1 1 50%;
  padding: 30px;
}
.left-col{
  display: flex;
  flex-direction: column;
}
.right-col{
    flex: 1 1 30%;
    background: #74C365;
    color: #fff;
}
.right-col button.active{
  background: #fff;
  color: #74C365;
}

.scoring, .history{
  min-height: 50%;
}
.history {
  display: flex;
  flex-direction: column;
}
.history-buttons{
  margin-top: auto;
}

.title{
  padding-bottom: 10px;
}

.title--underline{
  border-bottom: 1px solid #659b5b;
}

.Player{
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #659b5b;
}
.Player-name{
    padding: 15px;
}
.Player-score{
  background: #74C365;
  color: #fff;
  padding: 15px;
  width: 70px;
  text-align: center;
  border-right: 1px solid #659b5b;
}

.button-add{
  margin-top: 30px;
	background: #fff;
  color: #74C365;
  font-weight: bold;
  text-transform: uppercase;
}

table{
  border-collapse: collapse;
  width: 100%;
}
table > thead > tr > th {
  background: #74C365;
  color: #fff;
  padding: 15px;
  border: 1px solid #659b5b;

  text-align: left;
}
table > tbody > tr > td {
  border:1px solid #659b5b;
  padding: 15px;
}
