html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  background:	#fff;
  min-height: 100vh;
  color: #659b5b;
}
body.no-overflow{
  overflow: hidden;
}

button{
  overflow: hidden;
  background: #659b5b;
  margin: 0;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
}
button:hover{
 background: #777;
}
button.active {
  background:	#74C365;
}
button:focus {
  outline:0;
  outline-offset: -4px;
}
button:disabled{
  cursor: not-allowed;
  opacity: 0.65;
}

button + button {
  margin-left: 10px;
}

input[type="number"] {
  border: 1px solid #659b5b;
  padding: 10px;
}

.logo{
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  color: #fff;
}
.baseline {
  color: #fff;
}
.baseline h1{
  color: #fff;
    text-align: center;
}

.App-scorer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.App-missingPlayers{
  display: flex;
  min-height: 100vh;
  background: #74C365;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-missingPlayers input {
  padding: 10px;
}
.App-missingPlayers > div {
  /*height: 280px;*/
  width: 305px;
  display: flex;
  flex-direction: column;
}
.App-missingPlayers form {
  margin-top: auto;
}
.App-missingPlayers form label{
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}
.App-missingPlayers form button{
  margin-top: 15px;
}
.App-missingPlayers form > * {
  display: block;
  width: 100%;
}
.App-missingPlayers ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 30px;
}
.App-missingPlayers ul li{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: #659b5b;
  color: #fff;
  font-weight: bold;
  border: 1px solid #659b5b;
  margin-bottom: 5px;
}
.App-missingPlayers ul li span{
  padding: 10px;
}
.App-missingPlayers ul li button{
  margin-left: auto;
  width: 36px;
  min-width: inherit;
}

.left-col, .right-col{
  flex: 1 1 50%;
  padding: 15px ;
}
.left-col{
  display: flex;
  flex-direction: column;
}
.right-col{
    flex: 1 1 20%;
  background: #74C365;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  transform: translateY(-150%);
  transition: transform 0.25s;
  overflow-y: scroll;
  padding-bottom: 50px;
}
.right-col::-webkit-scrollbar {
    display: none;
}
.right-col.active{
    transform: translateY(0);
}
.right-col button {
  width: 100%;
    margin-bottom: 15px;
}
.right-col button + button {
  margin-left: 0;
}
.right-col button.active{
  background: #fff;
  color: #74C365;
}

.scoring{
  margin-bottom: 50px;
}

.scoring, .history{
  min-height: 50%;
}
.history {
  display: flex;
  flex-direction: column;
}
.history-buttons{
  margin-top: auto;
  padding-top: 15px;
}

.title{
  padding-bottom: 10px;
}

.title--underline{
  border-bottom: 1px solid #659b5b;
}

.Player{
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #fff;
}
.Player-name{
    padding: 15px;
}
.Player-score{
  background: #74C365;
  color: #fff;
  padding: 15px;
  width: 70px;
  text-align: center;
  border-right: 1px solid #fff;
}

.button-add{
  margin-top: 30px;
	background: #fff;
  color: #74C365;
  font-weight: bold;
  text-transform: uppercase;
}
.display-pattern-button{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
  z-index: 2;
}


table{
  border-collapse: collapse;
  width: 100%;
}
table > thead {
  display: none;
}
table > thead > tr > th {
  background: #74C365;
  color: #fff;
  padding: 15px;
  border: 1px solid #659b5b;

  text-align: left;
}
table > tbody > tr > td {
  border:1px solid #659b5b;
  padding: 15px;
}

.patterns-col{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  background: #fff;
  padding: 20px 15px 65px;
  max-height: 100vh;
  overflow: auto;
  transform: translateX(-150%);
  transition: transform 0.25s;
  z-index: 1;
}
.patterns-col::-webkit-scrollbar {
    display: none;
}
.patterns-col.active{
  transform: translateX(0);
}

.Pattern{
  display: flex;
}
.Pattern-tiles{
  display: flex;
  width: 60%;
  padding: 5px 0;
  margin-right: 30px;
  position: relative;
}

.Pattern-score{
  width: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #74C365;
}
.Pattern-name{
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Pattern-label{
  color: #444;
  font-size: 13px;
  text-transform: none;
  margin-top: 2px;
}

.Patterns-group {
  position: relative;
}

.Patterns-group:before,
.Patterns-group:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: calc(60% + 40px);
  content: "";
}

.Patterns-group:before {
  top: 0px;
  background: linear-gradient(to right top, red 50%, transparent 50%);
  background-size: 100% 150px, 100% 150px;
  background-position: 0 0, 0 bottom;
}

.Patterns-group:after {
  top: 50%;
  background: linear-gradient(to right bottom, red 50%, transparent 50%);
  background-size: 100% 150px, 100% 150px;
  background-position: 0 0, 0 bottom;
  background-repeat: no-repeat;
}

.Patterns-group--concealed .Pattern-tiles{
  background: #c62f48;
}
.Patterns-group--concealed .Pattern-name{
  color: #c62f48;
}
.Patterns-group--concealed:before {
    background: linear-gradient(to right top, #c62f48 50%, transparent 50%);
}
.Patterns-group--concealed:after {
    background: linear-gradient(to right bottom, #c62f48 50%, transparent 50%);
}

.Patterns-group--no-combo .Pattern-tiles{
  background: #0fa753;
}
.Patterns-group--no-combo .Pattern-name{
  color: #0fa753;
}
.Patterns-group--no-combo:before {
    background: linear-gradient(to right top, #0fa753 50%, transparent 50%);
}
.Patterns-group--no-combo:after {
    background: linear-gradient(to right bottom, #0fa753 50%, transparent 50%);
}

div[class*="Pattern--"] .Pattern-tiles:before{
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.Pattern--run .Pattern-score{
  background-color: #2ba1e4;
}
.Pattern--run .Pattern-tiles:before{

  background: linear-gradient(to right, #2ba1e4 0%, transparent 100%);
}

.Pattern--tri .Pattern-score{
    background-color: #b83997;
}
.Pattern--tri .Pattern-tiles:before{
  background: linear-gradient(to right, #b83997 0%, transparent 100%);
}

.Pattern--quad .Pattern-score{
    background-color: #792390;
}
.Pattern--quad .Pattern-tiles:before{
  background: linear-gradient(to right, #792390 0%, transparent 100%);
}

.Pattern--1-9-honors .Pattern-score{
  background-color: #94bd40;
}
.Pattern--1-9-honors .Pattern-tiles:before{
  background: linear-gradient(to right, #94bd40 0%, transparent 100%);
}

.Pattern--suit .Pattern-score{
    background-color: #fcd445;
}
.Pattern--suit .Pattern-tiles:before{
  background: linear-gradient(to right, #fcd445 0%, transparent 100%);
}


.Pattern--melding .Pattern-score{
    background-color: #3a5d92;
}
.Pattern--melding .Pattern-tiles:before{
  background: linear-gradient(to right, #3a5d92 0%, transparent 100%);
}

.Pattern--irregular .Pattern-score{
    background-color: #de8a2c;
}
.Pattern--irregular .Pattern-tiles:before{
  background: linear-gradient(to right, #de8a2c 0%, transparent 100%);
}

.Tile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1
}
.Tile-dims{
  width: 100%;
  height: 40px;
}

@media(max-width: 768px) {
  .patterns-col{
    width: 100%;
  }
  .Patterns-group:before, .Patterns-group:after{
    content: none;
  }
  .Pattern{
    flex-direction: column;
    margin-bottom: 35px;
  }
  .Pattern-tiles{
    width: 100%;
    margin-bottom: 10px;
  }
  .Pattern-name, .Pattern-label{
    width: 100%;
    padding: 0;
  }
  .display-pattern-button{
    width: 100%;
  }
}

@media(min-width: 768px) {
  .no-overflow{
    overflow: auto;
  }
  .App-scorer{
    flex-direction: row;
  }
  .left-col, .right-col {
    padding: 30px;
  }
  .right-col{
    position: static;
    transform: translateY(0);
  }
  .right-col button{
    width: auto;
    border-right: 3px solid #74C365;
  }
  .right-col button + button{
    margin-bottom: 0;
  }
  .display-scorer-button, .hide-scorer-button{
    display: none;
  }
  table > thead {
    display: table-header-group;
  }

}
